@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #000;    
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 10px;

}

#gameOfLife{


    display: flex;
    justify-content: center;
    object-fit: cover;
    pointer-events: none;
    
    


}
h1{
    color:#fff;
    display: flex;
    justify-content: center;
    object-fit: cover;
    pointer-events: none;
    padding-top: 5%;
    padding-bottom: 0%;
}
h2{
    position: relative;
    color: #fff;
    font-size: 1.2em;
    padding-left: 5%;
    padding-right: 5%;

}